body {
  background-color: white;
  color: black;
}

#button-container .btn {
  padding: 100px 0;
  max-width: 90%;
  font-size: 50px;
}

/* Messages */
.speech-bubble {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position: relative;
	border: 1px solid black;
  border-radius: .4em;
  margin: 10px;
  max-width: 70%;
  border-radius: 10px;
  padding: 5px;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: black;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
  margin-left: -5px;
}
#message-container {
  border: black 1px solid;
  height: 500px;
}
/* End Messages */

/* Tasks */

.taskPanel {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0 2%;
}

.done p{
  text-decoration-line: line-through;
  color: red;
}

.done .checkbox {
  visibility: hidden;
}

.done label {
  visibility: hidden;
  margin-left: 2%;
  margin-right: 2%;
}

.header-row {
  line-height: 50px;
}
/* End Tasks */

/* Events */
.event-form {
  border-radius: 5px;
  border: 1px solid darkgray;
}

.event-card {
  background-color: #5bc0de;
  margin: 2% 4.1%;
  border-radius: 5px;
  min-height: 250px;
}

.btn-group {
  margin-bottom: 10px;
}
/* Friends */

.friendCard {
  background-color: blue;
}