body {
  background-color: white;
  color: black;
}

#button-container .btn {
  padding: 100px 0;
  max-width: 90%;
  font-size: 50px;
}

.taskPanel {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

/* Friends */

.friendCard {
  background-color: blue;
}